<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Nutritionix Search">
    <meta name="author" content="Karol Zyskowski">
    <title>Health Tracker App</title>
	<link rel="icon" type="image/png" href="favicon.png">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
    <!-- endinject -->
</head>
<body>
	<main>
		<div class="container" id="healthTracker">

			<!-- header -->
			<div class="row">
				<div class="col s12">
				<h1 class="header white-text">Health Tracker</h1>
				<h5 class="header blue-text lighten-5">Live Search <a href="http://www.nutritionix.com/" title="go to Nutritionix Website"target="_blank">Nutritionix</a></h5>
				</div>
			</div>

			<!-- search bar -->
			<div class="row">
				<div class="col s10">
	      			<form id="search">
				        <div class="input-field">
				        	<input id="query" type="search" required>
						    <label for="search"><i class="material-icons">search</i></label>
						    <i id="reset" class="material-icons">close</i>
						</div>
			    	</form>
		  		</div>
		  		<div class="col s2 right-align"></div>
	  		</div>

	  		<div class="row">
	  			<!-- list with search results -->
	  		  	<div class="col s6">
	  		  		<h4>Search Results</h4>
	  				<ul id="searchResults" class="collapsible" data-collapsible="accordion"></ul>
	  			</div>

	  			<div class="col s6">
	  				<h4>My Food</h4>
	  				<ul id="myFood" class="collapsible" data-collapsible="accordion"></ul>
	  			</div>
	  		</div>

		</div>
	</main>

	<!-- template for each item in search results -->
	<script id="listitemTemplate" type="text/template">
		<div class="collapsible-header">
			<%= fields.item_name %>
			<div class="secondary-content"><i class="material-icons addToMyFood">add</i></div>
		</div>
		<div class="collapsible-body">
			<p>Calories: <%= fields.nf_calories %></p>
			<p>Protein: <%= fields.nf_protein %></p>
			<p>Sugars: <%= fields.nf_sugars %></p>
		</div>
	</script>

	<script id="myfooditemTemplate" type="text/template">
		<div class="collapsible-header">
			<%= fields.item_name %>
			<div class="secondary-content"><i class="material-icons delete">delete</i></div>
		</div>
		<div class="collapsible-body">
			<p>Calories: <%= fields.nf_calories %></p>
			<p>Protein: <%= fields.nf_protein %></p>
			<p>Sugars: <%= fields.nf_sugars %></p>
		</div>
	</script>

	<!-- inject:js -->
	<!-- JavaScript Includes -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../bower_components/backbone/backbone-min.js"></script>
    <script src="../bower_components/backbone-localstorage/backbone-localstorage.min.js"></script>
    <script src="../bower_components/Materialize/dist/js/materialize.min.js"></script>

	<!-- App -->
    <script src="js/app/models/item.js"></script>
    <script src="js/app/models/food.js"></script>
    <script src="js/app/collections/list.js"></script>
    <script src="js/app/collections/myfoodlist.js"></script>
    <script src="js/app/views/listitem-view.js"></script>
    <script src="js/app/views/myfood-view.js"></script>
    <script src="js/app/views/myfood-view.js"></script>
    <script src="js/app/views/myfoodlist-view.js"></script>
    <script src="js/app/views/list-view.js"></script>
    <script src="js/app/views/main-view.js"></script>
    <script src="js/app/routes/routes.js"></script>
    <script src="js/app/app.js"></script>
    <!-- endinject -->

</body>
</html>